/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-nov-2015, 9:32:07
    Author     : Pamy
*/

.login{
    background-color: #91f883;
    width:400px;
    margin:auto;
    margin-top: 200px;
    border:3px solid #b2fbb7;
    padding:20px;
    border-radius: 100px;
    text-align: center;
}
.login p{
    background-color: #dafdd5;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 20px;
}
.boton {
    padding: 10px;
    border: 5px solid #61b065;
    border-radius: 20px;
    background-color: #dafdd5;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    color: #808080;
    margin: 1px;
}
.boton:hover{
    background-color: #b8f5b0;
    border-color: #509054;
    color: #000000;
    cursor: pointer;
}
.campo {
    border: 1px #b2fbb7 solid;
    border-radius: 10px;
    font-size: 14px;
}
body{
    background-color: #dafdd5;  
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}
.titulo{
    font-size: 150%;
}
.noticia{
    background-color: #91f883;
    width:80%;
    height: 500px;
    margin:auto;
    margin-top: 20px;
    border:3px solid #b2fbb7;
    padding:20px;
    border-radius: 100px;
    text-align: center;
    padding-top: 3%;
    text-align: justify;
   
}
p{
    margin:50px;
 
}
h2{
    margin:30px;
}

.menu{
 float:right;
}